<h1><%= @country.name %></h1>

<script>
  // TODO: change vanilla javascript to jQuery
  let map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 30, lng: 20},
      zoom: 2
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABDM6jpfKy3YA3F25pB0zMUg6QBNCk-0A&callback=initMap"
async defer></script>


<%= link_to 'Edit Country', edit_country_path %>
<%= button_to('Delete Country', @country, :method => 'delete', :data => { :confirm => 'Are you sure?' }) %>
